body {
    background: linear-gradient(to bottom, #ffcc00, #990000);
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

.play-button {
    display: inline-block;
    background-color: #ffcc00;
    color: #990000;
    text-decoration: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.play-button:hover {
    background-color: #ff9900;
}

.play-button:active {
    transform: scale(0.95);
}

.review p {
    font-size: 16px;
    line-height: 1.6;
}

.home {
    cursor: pointer;
}


